html, body {
  padding: 0;
  margin: 0;
}

.Audio {
  outline: none;
}

.ModalOverlay {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(102, 204, 255, 0.5);
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0%;
  left: 0%;
}

.ModalHeaderH1 {
  color: white;
  font-size: 24px;
  padding-left: 10%;
}

.ModalHeader {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #045B5C;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}

.gradient {
  background: rgba(124,143,67,1);
  background: -moz-linear-gradient(left, rgba(124,143,67,1) 0%, rgba(67,107,30,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(124,143,67,1)), color-stop(100%, rgba(67,107,30,1)));
  background: -webkit-linear-gradient(left, rgba(124,143,67,1) 0%, rgba(67,107,30,1) 100%);
  background: -o-linear-gradient(left, rgba(124,143,67,1) 0%, rgba(67,107,30,1) 100%);
  background: -ms-linear-gradient(left, rgba(124,143,67,1) 0%, rgba(67,107,30,1) 100%);
  background: linear-gradient(to right, rgba(124,143,67,1) 0%, rgba(67,107,30,1) 100%);
}

.BtnModal {
  border: 0;
  width: 20%;
  font-size: 24px;
  height: 7vh;
  color: white;
  border: 0;
  margin-right: 8px;
  border-radius: 20px;
  outline: none;
}

.ModalWindow {
  width: 40%;
  height: 60vh;
  border-radius: 8px;
  background-color: #06787A;
  position: fixed;
  top: 20%;
  left: 30%;
}

.ArtistName {
  padding-right: 15px;
  color: white;
}

.LiMusic {
  display: flex;
  align-items: center;
  list-style: none;
  text-decoration: none;
  padding: 20px;
  margin: 0;
  border-bottom: 1px solid white;
  background: rgba(0,0,0,1);
  background: -moz-linear-gradient(left, rgba(0,0,0,1) 36%, rgba(0,0,0,0.44) 89%, rgba(0,0,0,0.44) 89%, rgba(0,0,0,0.44) 100%);
  background: -webkit-gradient(left top, right top, color-stop(36%, rgba(0,0,0,1)), color-stop(89%, rgba(0,0,0,0.44)), color-stop(89%, rgba(0,0,0,0.44)), color-stop(100%, rgba(0,0,0,0.44)));
  background: -webkit-linear-gradient(left, rgba(0,0,0,1) 36%, rgba(0,0,0,0.44) 89%, rgba(0,0,0,0.44) 89%, rgba(0,0,0,0.44) 100%);
  background: -o-linear-gradient(left, rgba(0,0,0,1) 36%, rgba(0,0,0,0.44) 89%, rgba(0,0,0,0.44) 89%, rgba(0,0,0,0.44) 100%);
  background: -ms-linear-gradient(left, rgba(0,0,0,1) 36%, rgba(0,0,0,0.44) 89%, rgba(0,0,0,0.44) 89%, rgba(0,0,0,0.44) 100%);
  background: linear-gradient(to right, rgba(0,0,0,1) 36%, rgba(0,0,0,0.44) 89%, rgba(0,0,0,0.44) 89%, rgba(0,0,0,0.44) 100%);
}

.UlMusic {
  padding: 0;
  margin: 0;
  background: rgba(4,120,2,1);
  background: -moz-radial-gradient(center, ellipse cover, rgba(4,120,2,1) 0%, rgba(4,120,2,1) 0%, rgba(4,120,2,1) 0%, rgba(0,49,97,1) 70%, rgba(0,49,97,1) 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(4,120,2,1)), color-stop(0%, rgba(4,120,2,1)), color-stop(0%, rgba(4,120,2,1)), color-stop(70%, rgba(0,49,97,1)), color-stop(100%, rgba(0,49,97,1)));
  background: -webkit-radial-gradient(center, ellipse cover, rgba(4,120,2,1) 0%, rgba(4,120,2,1) 0%, rgba(4,120,2,1) 0%, rgba(0,49,97,1) 70%, rgba(0,49,97,1) 100%);
  background: -o-radial-gradient(center, ellipse cover, rgba(4,120,2,1) 0%, rgba(4,120,2,1) 0%, rgba(4,120,2,1) 0%, rgba(0,49,97,1) 70%, rgba(0,49,97,1) 100%);
  background: -ms-radial-gradient(center, ellipse cover, rgba(4,120,2,1) 0%, rgba(4,120,2,1) 0%, rgba(4,120,2,1) 0%, rgba(0,49,97,1) 70%, rgba(0,49,97,1) 100%);
  background: radial-gradient(ellipse at center, rgba(4,120,2,1) 0%, rgba(4,120,2,1) 0%, rgba(4,120,2,1) 0%, rgba(0,49,97,1) 70%, rgba(0,49,97,1) 100%);
}

.SearchTrack {
  overflow: hidden;
  display: block;
  width: 98%;
  border: none;
  font-size: 40px;
  height: 6vh;
  font-weight: 700;
  padding: 1%;
  font-family: 'Varela Round', sans-serif;
  outline: none;
  transition: all 1s;
  background-color: #215A05;
  color: #F3F3F3;
}

.SearchTrack:focus {
  color: white;
  background-color: #47802b;
  outline: none;
  border: 0;
}

.SearchTrack:focus::placeholder {
  color: white
}

.Flex {
  display: flex;
}

.Statistic {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  width: 50%;
  height: 47vh;
}

.StatisticTitle {
  display: flex;
  color: white;
  font-size: 34px;
  padding-bottom: 10%;
  text-align: center;
}

.Btn {
  width: 50%;
  font-size: 24px;
  height: 7vh;
  color: white;
  border: 0;
  border-radius: 20px;
  outline: none;
}

.ArtistDiv {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.IconSong {
  border: 3px solid white;
  border-radius: 100px;
}

.ButtonDiv {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.DivInput {
  width: 100%;
  height: 72vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.H1Input {
  color: white;
  margin: 0 auto;
  font-size: 70px;
}

.TitleBar {
  background-color: #03161d; 
  color: white;
  display: block;
  font-size: 32px;
  padding-left: 24px;
  height: 20vh;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
